<div class="home">
  <div class="personas">

    <div class="user-persona">
      <div class="admirer">
        <div class="header">
          <h4>Jessica Chen</h4>
          <h5><i class="bi bi-hearts"></i> Admirer</h5>
        </div>
        <div class="content">

          <div class="panel-group">
            <!-- PHOTO -->
            <div class="panel square">
              <img src="assets/photos/users/jessica.png"
                   class="rounded-3"
                   alt="A candid photo of a woman in her mid-30s at a tidy home desk, with a planner, sticky notes, or a calendar in the frame, showing she likes to keep things scheduled."
                   title="A candid photo of a woman in her mid-30s at a tidy home desk, with a planner, sticky notes, or a calendar in the frame, showing she likes to keep things scheduled."
                   width="100%" />
            </div>
            <!-- QUOTE -->
            <div class="panel">
              <div class="d-flex flex-column">
                <span class="fs-4 fw-semibold"><i class="bi bi-quote"></i></span>
                <span class="fs-5 px-3 text-dark text-opacity-75">
                  I like looking at flowers, even if I don’t always buy them, it makes me happy.
                </span>
                <span class="fs-4 fw-semibold"><i class="bi bi-quote float-end" style="transform: rotate(180deg);"></i></span>
              </div>
            </div>
          </div>

          <div class="panel-group">
            <!-- DEMOGRAPHICS -->
            <div class="panel">
              <div class="pb-2 text-dark">
                <span class="fs-5 fw-semibold"><i class="bi bi-person-circle"></i> Demographics</span>
              </div>
              <div class="fs-6 text-dark text-opacity-75">
                <div class="d-flex gap-2">
                  <span class="fw-semibold field">Age</span>
                  <span class="label">27</span>
                </div>
                <div class="d-flex gap-2">
                  <span class="fw-semibold field">Occupation</span>
                  <span class="label">Graphic Designer</span>
                </div>
                <div class="d-flex gap-2">
                  <span class="fw-semibold field">Status</span>
                  <span class="label">Single</span>
                </div>
                <div class="d-flex gap-2">
                  <span class="fw-semibold field">Location</span>
                  <span class="label">Paramus, NJ</span>
                </div>
              </div>
            </div>
            <!-- GOALS -->
            <div class="panel">
              <div class="pb-2 text-dark">
                <span class="fs-5 fw-semibold"><i class="bi bi-trophy-fill"></i> Goals</span>
              </div>
              <div class="fs-6 text-dark text-opacity-75">
                <ul class="mb-0">
                  <li>
                    <span>Browse casually or for inspiration.</span>
                  </li>
                  <li>
                    <span>Stay updated on seasonal themes.</span>
                  </li>
                  <li>
                    <span>Find simple, affordable flowers that feel special.</span>
                  </li>
                </ul>
              </div>
            </div>
            <!-- BEHAVIOR -->
            <div class="panel">
              <div class="pb-2 text-dark">
                <span class="fs-5 fw-semibold"><i class="bi bi-emoji-smile-fill"></i> Behavior</span>
              </div>
              <div class="fs-6 text-dark text-opacity-75">
                <ul class="mb-0">
                  <li>
                    <span>She may not buy flowers often, but she’ll pick them up on impulse if something catches her eye.</span>
                  </li>
                  <li>
                    <span>Is drawn to visuals and artistic arrangements.</span>
                  </li>
                  <li>
                    <span>Doesn’t know much about floral types.</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="panel-group">
            <!-- TRAITS -->
            <div class="panel">
              <div class="pb-2 text-dark">
                <span class="fs-5 fw-semibold"><i class="bi bi-person-check-fill"></i> Traits</span>
              </div>
              <div class="fs-6 text-dark text-opacity-75">
                <div class="d-flex align-items-center gap-2">
                  <span class="fw-semibold w-50">Tech-savvy</span>
                  <div class="progress w-50 bg-white" role="progressbar">
                    <div class="progress-bar text-bg-danger" style="width: 83%"></div>
                  </div>
                </div>
                <div class="d-flex align-items-center gap-2">
                  <span class="fw-semibold w-50">Floral Knowledge</span>
                  <div class="progress w-50 bg-white" role="progressbar">
                    <div class="progress-bar text-bg-warning" style="width: 33%"></div>
                  </div>
                </div>
                <div class="d-flex gap-2">
                  <span class="fw-semibold w-50">Planning Style</span>
                  <div class="d-flex flex-column w-50">
                    <span><i class="bi bi-cup-hot-fill"></i> Casual</span>
                  </div>
                </div>
                <div class="d-flex gap-2">
                  <span class="fw-semibold w-50">Buying Frequency</span>
                  <div class="d-flex flex-column w-50">
                    <span><i class="bi bi-calendar-event-fill"></i> Occasional</span>
                  </div>
                </div>
              </div>
            </div>
            <!-- ENVIRONMENT -->
            <div class="panel square">
              <img src="assets/photos/environments/env_jessica.png"
                   class="rounded-3"
                   alt="A tidy desk with a laptop, a paper planner, a coffee mug, and maybe a phone."
                   title="A tidy desk with a laptop, a paper planner, a coffee mug, and maybe a phone."
                   width="100%" />
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="user-persona">
      <div class="clutch">
        <div class="header">
          <h4>Carlos Rivera</h4>
          <h5><i class="bi bi-alarm"></i> Clutch</h5>
        </div>
        <div class="content">

        </div>
      </div>
    </div>

    <div class="user-persona">
      <div class="enthusiast">
        <div class="header">
          <h4>Emily Johnson</h4>
          <h5><i class="bi bi-award"></i> Enthusiast</h5>
        </div>
        <div class="content">

        </div>
      </div>
    </div>

    <div class="user-persona">
      <div class="planner">
        <div class="header">
          <h4>Karen Mitchell</h4>
          <h5><i class="bi bi-journal-check"></i> Planner</h5>
        </div>
        <div class="content">

        </div>
      </div>
    </div>

    <div class="user-persona">
      <div class="florist">
        <div class="header">
          <h4>Lily da Floris</h4>
          <h5><i class="bi bi-flower1"></i> Florist</h5>
        </div>
        <div class="content">

        </div>
      </div>
    </div>

  </div>
</div>
