.home{
  display: flex;
  justify-content: center;
  width: 100%;
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: "Inter Tight", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  .personas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    gap: 50px;
  }
}
