<div class="home">
  <div class="personas">

    <div class="user-card">
      <div class="admirer">
        <div class="header">
          <h4>Jessica Chen</h4>
          <h5>Type: Admirer</h5>
        </div>
        <div class="content">

          <div class="panel-group">
            <div class="panel square">1</div>
            <div class="panel">2</div>
          </div>

          <div class="panel-group">
            <div class="panel">3</div>
            <div class="panel">4</div>
            <div class="panel">5</div>
          </div>

          <div class="panel-group">
            <div class="panel">6</div>
            <div class="panel square">7</div>
          </div>

        </div>
      </div>
    </div>

    <div class="user-card">
      <div class="clutch">
        <div class="header">
          <h4>Carlos Rivera</h4>
          <h5>Type: Clutch</h5>
        </div>
        <div class="content">

        </div>
      </div>
    </div>

    <div class="user-card">
      <div class="enthusiast">
        <div class="header">
          <h4>Emily Johnson</h4>
          <h5>Type: Enthusiast</h5>
        </div>
        <div class="content">

        </div>
      </div>
    </div>

    <div class="user-card">
      <div class="planner">
        <div class="header">
          <h4>Karen Mitchell</h4>
          <h5>Type: Planner</h5>
        </div>
        <div class="content">

        </div>
      </div>
    </div>

    <div class="user-card">
      <div class="florist">
        <div class="header">
          <h4>Lily da Floris</h4>
          <h5>Type: Florist</h5>
        </div>
        <div class="content">

        </div>
      </div>
    </div>

  </div>
</div>
